{% extends "modals/action_done.html" %}

{% block title_text %}
Email: {{ view_name }}
{% endblock %}

{% block body %}
<div class="container">

  <h4>Subject (text)</h4>
  <div class="border mb-2 p-2"><pre>{% include subject_text_template %}</pre></div>

  <h4>Body (text)</h4>
  <div class="border mb-2 p-2"><pre>{% include body_text_template %}</pre></div>

  <h4>Body (HTML)</h4>

  <div class="border p-2">

    {% autoescape off %}
    <iframe srcdoc="{{ body_html|safe }}"
            style="width: 100%; height: 50vh; border: 1px solid #ccc;"
           sandbox="allow-same-origin allow-scripts">
    </iframe>
    {% endautoescape %}

  </div>

</div>
{% endblock %}
