{% load humanize %}
{% load common_tags %}
{% load icons %}
{% if pagination.required or show_total_items %}
<div class="my-4">
  {% if pagination and show_total_items %}
  <h4 class="mx-auto text-center">{{ pagination.item_count | intcomma }} Results</h4>
  {% endif %}
  {% if pagination.required %}
  <nav aria-label="Page navigation">
    {% with params=request.GET.urlencode %}
    <ul class="pagination pagination-lg justify-content-center">
      {% if pagination.has_previous_page %}
      <li class="page-item"><a class="page-link" href="{{ pagination.base_url }}?page={{ pagination.previous_page_number }}" {% if pagination.async_urls %}data-async="true"{%endif %} >
        {% icon "chevron-left" size="sm" css_class="icon-right" %}
        <span class="d-none d-sm-block">Previous</span>
      </a></li>
      {% else %}
      <li class="page-item disabled"><span class="page-link text-muted">
        {% icon "chevron-left" size="sm" css_class="icon-right" %}
        <span class="d-none d-sm-block">Previous</span>
      </span></li>
      {% endif %}

      {% if pagination.has_pages_before %}
      <li class="page-item"><a class="page-link" href="{{ pagination.base_url }}?page=1" {% if pagination.async_urls %}data-async="true"{%endif %} >{% icon "chevron-double-left" size="sm" aria_label="First page" %}</a></li>
      {% endif %}

      {% for page_number in pagination.page_number_list %}
      {% if page_number == pagination.page_number %}
      <li class="page-item active"><span class="page-link">{{ page_number }}</span></li>
      {% else %}
      <li class="page-item"><a class="page-link" href="{{ pagination.base_url }}{% pagination_url page_number params %}" {% if pagination.async_urls %}data-async="true"{%endif %} >{{ page_number }}</a></li>
      {% endif %}
      {% endfor %}

      {% if pagination.has_pages_after %}
      <li class="page-item"><a class="page-link" href="{{ pagination.base_url }}?page={{ pagination.page_count }}" {% if pagination.async_urls %}data-async="true"{%endif %} >{% icon "chevron-double-right" size="sm" aria_label="Last page" %}</a></li>
      {% endif %}

      {% if pagination.has_next_page %}
      <li class="page-item"><a class="page-link" href="{{ pagination.base_url }}?page={{ pagination.next_page_number }}" {% if pagination.async_urls %}data-async="true"{%endif %} >
        <span class="d-none d-sm-block">Next</span>
        {% icon "chevron-right" size="sm" css_class="icon-left" %}
      </a></li>
      {% else %}
      <li class="page-item disabled"><span class="page-link text-muted">
        <span class="d-none d-sm-block">Next</span>
        {% icon "chevron-right" size="sm" css_class="icon-left" %}
      </span></li>
      {% endif %}
    </ul>
    {% endwith %}
  </nav>
  {% endif %}
</div>
{% endif %}
