{% extends "pages/interstitial_page.html" %}

{% block interstitial_content %}
<div class="h3">Email Sent</div>
<div class="my-3">
  Look in your inbox for the access code to sign in.
</div>

<div class="my-3">
  <form role="form" class="form"
        method="POST"
        action="{% url 'user_signin_magic_code' %}"
        data-synchronous="true">
    {% csrf_token %}
    {% for hidden in magic_code_form.hidden_fields %}
    {{ hidden }}
    {% endfor %}
    {{ magic_code_form.non_field_errors }}
    <div class="d-flex input-group input-group-lg">
      <input type="text"
             class="form-control"
             name="magic_code"
             autofocus="autofocus"
             placeholder="access code"
             maxlength="12"
             required=""
             id="magic-code-input"
             width="8">
      <div class="input-group-append">
        <button id="magic-code-submit-button"
                type="submit" name="submit" value="main"
                class="main btn btn-primary">SUBMIT</button>
      </div>
    </div>
    <div class="text-left text-danger mt-2">
      <small class="form-error">{{ magic_code_form.magic_code.errors }}</small>
    </div>
  </form>
</div>

<div class="text-muted my-4">
  If you do not receive this email in the next few minutes, check that the email address "{{ magic_code_form.email_address.value }}" is valid and has been registered.
</div>
{% endblock %}
