{% extends "pages/interstitial_page.html" %}

{% block interstitial_content %}
<div>
  {% if email_not_configured %}
  <div class="alert alert-danger">
    <div class="h4">Email Not Configured</div>
    <p>
      The email settings are not properly configured. The Sign In feature requires email to work.
    </p>
    <p class="font-weight-bold">
      You will not be able to sign in unless you disable the Sign In feature or properly configure the email settings.
    </p>
  </div>
  {% endif %}
  <form class="signin-form" method="post"
        action="{% url 'user_signin' %}"
        data-synchronous="true">
    {% csrf_token %}
    <div class="h3 text-center">Sign In</div>
    <div class="d-flex mt-3">
      <input style="width: 20rem;"
             type="email"
             name="email"
             value=""
             autofocus="autofocus"
             placeholder="e-mail address" required="" id="signin-email"/>
    </div>
    <div>
      <button id="signin-button"
              role="button" type="submit"
              class="btn btn-lg btn-primary my-4">
        <b>Sign In</b>
      </button>
    </div>
  </form>
</div>
{% endblock %}
